# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
Graphics copy/Backup/Default-568h@2x.png
Graphics copy/Backup/Default~iphone.png
Graphics copy/Default-568h@2x.png
Graphics copy/Default.png
Graphics copy/Default~iphone.png
Graphics copy/HomeScene.png
Graphics copy/Under-n-Over29x29.png
Graphics copy/Under-n-Over57x57.png
Graphics copy/Under-n-Over58x58.png
Graphics copy/Under-n-Over80x80.png
Graphics copy/Under-n-Over114x114.png
Graphics copy/Under-n-Over120x120.png
Graphics copy/xxx/Default-568h@2xxxx.png
Graphics copy/xxx/Default~iphonexxx.png
Graphics copy/xxx/Defaultxxx.png
Graphics copy/xxx/Retina 4 inch640x1136xxx.png
Graphics copy/xxx/Retina640x960xxx.png
